In [15]:
import pandas as pd

data = {
    'Name': ['John', 'Emma', 'Sam'],
    'Age': [28, 32, 25],
    'Department': ['HR', 'IT', 'Finance']
}
df = pd.DataFrame(data)

# Single column returns a Series
print(df['Name'])

0    John
1    Emma
2     Sam
Name: Name, dtype: object

In [2]:
print(df[['Name', 'Department']])

print(df[['Name', 'Department', 'Age']])

   Name Department
0  John         HR
1  Emma         IT
2   Sam    Finance
   Name Department  Age
0  John         HR   28
1  Emma         IT   32
2   Sam    Finance   25

# Selecting Rows

In [3]:
# iloc[row_index, column_index]

# Index starts from 0
# First row
print(df.iloc[0])

# First two rows
print(df.iloc[0:2])

Name          John
Age             28
Department      HR
Name: 0, dtype: object
   Name  Age Department
0  John   28         HR
1  Emma   32         IT

# Using loc[] → label-based indexing

# loc[row_label, column_label]

# Works great if you set a custom index

<!-- Using loc[] → label-based indexing

loc[row_label, column_label]

Works great if you set a custom index -->

In [16]:
df.set_index('Name', inplace=True)

# Access row for 'Emma'
print(df.loc['Emma'])

# Access row for 'Emma' and 'Sam'
print(df.loc[['Emma', 'Sam']])

Age           32
Department    IT
Name: Emma, dtype: object
      Age Department
Name
Emma   32         IT
Sam    25    Finance

In [17]:
# First 2 rows and first 2 columns
print(df.iloc[0:2, 0:2])

      Age Department
Name
John   28         HR
Emma   32         IT

# Practice Questions

In [33]:
data = {
    'Name':['John', 'Emma', 'Sam'],
    'Age':[28,32,25],
    'department':['HR', 'IT', 'Sam']
}

df = pd.DataFrame(data)
df
df.set_index('Name', inplace=True)  # Set Name as index

In [22]:
# Select only the Age column.
df['Age']

0    28
1    32
2    25
Name: Age, dtype: int64

In [23]:
# Select Name and Department columns.
df[['Name', 'department']]

   Name department
0  John         HR
1  Emma         IT
2   Sam        Sam

In [31]:
# Select the row for Emma using loc.

print(df.loc['Emma'])


print(df.iloc[0])

Age           32
department    IT
Name: Emma, dtype: object
Age           28
department    HR
Name: John, dtype: object