In [1]:
import pandas as pd

# Creating a Series
s = pd.Series([100, 200, 300], index=["a", "b", "c"])
print(s)

a    100
b    200
c    300
dtype: int64

In [6]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["NY", "LA", "Chicago"]
}

df = pd.DataFrame(data)
print(df)

df.head()
df.tail()
df.info()
df.describe()

df['Age']

df["Age"] > 28
df[df["Age"] > 28]

df[['Age', 'City']]

      Name  Age     City
0    Alice   25       NY
1      Bob   30       LA
2  Charlie   35  Chicago
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

   Age     City
0   25       NY
1   30       LA
2   35  Chicago